/*Geral*/
main{
    background-color: #0F88F2;
}
.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0F88F2;
}
/*Header*/
#logo{
    padding-top: 50px;
    padding-bottom: 50px;
}

/*ilustração*/
.col-8{
    margin-left: -100px;
}
/* Formulario*/
.col-4{
    margin-left: 50px;
    margin-top: 50px;
    background-color: white;
    height: 400px;
}
#cadastro{
    margin-top: 20px;
}
#login{

}
form{
    margin-top: 50px;
}
form h2{
    text-align: center;
    width: 80%;
    margin-bottom: 30px;
    font-size: 20px;
}
.form-group{
    margin-bottom: 10px;
    width: 90%;
    margin-left: .25;
}
.form-check{
    margin-left: 20px;
    padding-bottom: 10px;
}
.btn {
    width: 100%;
}
